section {
  color: #341f1c;
  margin: 50px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: linear-gradient(
    0deg,
    rgba(232, 193, 135, 0.891358024691358) 0%,
    rgba(122, 88, 68, 1) 60%
  );

  box-shadow: 0px 0px 8px 0px #33333347;
}

h1,
h2 {
  text-shadow: 0px 0px 6px rgba(232, 193, 135, 0.7);
}
input {
  box-shadow: 0px 0px 8px 0px #33333347;
}
input:focus {
  outline: 0;
}

/* 
{color: #341f1c;}
{color: #52372d;}
{color: #7a5844;}
{color: #ad8662;}
{color: #e8c187;}
 */
